{% extends 'base.html' %}


{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="uk-form uk-form-horizontal maxw600">
{% csrf_token %}

      <div class="uk-form-row uk-margin">
          <label class="uk-form-label" for="id_username">
          Email: </label>
          <div class="uk-form-controls">
            <input class="uk-input" type="email" name="username" autofocus required id="id_username">
            {{ field.errors }}
          </div>
      </div>

      <div class="uk-form-row uk-margin">
          <label class="uk-form-label" for="id_password">
          Password: </label>
          <div class="uk-form-controls">
            <input class="uk-input" type="password" name="password" required id="id_password">
          </div>
          {{ field.errors }}
      </div>



      <input class="uk-button uk-button-primary" type="submit" class="btn btn-primary" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />

</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}


