{% extends 'base.html' %}


{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="uk-form uk-form-horizontal maxw600">
{% csrf_token %}

      {% if form.non_field.errors %}
      <div class="uk-alert uk-alert-warning">
        {{ form.non_field.errors }}
      </div>
      {% endif %}

      <div class="uk-form-row uk-margin">
          <label class="uk-form-label" for="{{ form.username.id_for_label }}">
          Email: </label>
          <div class="uk-form-controls">
            <input class="uk-input" type="email" name="{{ form.username.html_name }}" autofocus required id="{{ form.username.id_for_label }}">
            {% if form.username.errors %}
            <div class="uk-alert uk-alert-warning">
              {{ form.username.errors }}
            </div>
            {% endif %}
          </div>
      </div>

      <div class="uk-form-row uk-margin">
          <label class="uk-form-label" for="{{ form.password.id_for_label }}">
          Password: </label>
          <div class="uk-form-controls">
            <input class="uk-input" type="password" name="{{ form.password.html_name }}" required id="{{ form.password.id_for_label }}">

            {% if form.password.errors %}
            <div class="uk-alert uk-alert-warning">
              {{ form.password.errors }}
            </div>
            {% endif %}

        </div>

      </div>



      <input class="uk-button uk-button-primary" type="submit" class="btn btn-primary" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />

</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}


