{% extends 'base.html' %}

{% block content %}

<p>Please enter your email address, and we will send you a reset link.</p>

  <form class="uk-form-row uk-margin maxw600" action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
  <div class="uk-form-row uk-margin">
    <div class="uk-form-controls">
        <input class="uk-input" type="email" name="{{ form.email.html_name }}" maxlength="254" required id="{{ form.email.id_for_label }}">
    </div>
  </div>
    <input type="submit" class="uk-button uk-button-primary" value="Reset password">
  </form>
{% endblock %}
