<p>This site is meant to serve as a distributed library. It should help users who live in Bristol to swap (printed, for now) books.</p>
There's three specific areas where it could be useful:
<ul>
   <li>
     Managing a Codehub library of programming books.
   </li>
   <li>
     Managing the library at the top floor of the Framework Co-working space.</li>
   </li>
   <li>
     Let members in the Bristol area post their books to lend them, and request books from others.
   </li>
</ul>

<p>This project is at the moment at a minimal usable stage, you can register and post and request books (this sends an email to the owner but is not showing any confirmation yet!). There is still lots to be ironed out, and to be added. In terms of functionality, there should be a profile page soon that shows you the books you own and the books you've borrowed. (We will not show openly who is borrowing which books, but you can see for each book who owns it.)</p>

<p>This is a project for me to learn Django, but is at the same time hopefully something that can be used. I am grateful to <a href="https://eleni.co/">Eleni</a> for mentoring me and keep pointing me in the right direction!</p>

<p>There will be more soon, in the meantime, if you have any questions, please let me know at <a href="mailto:mail@kdurrani.co.uk">mail@kdurrani.co.uk</a>.</p>

<p>Grateful for any suggestions on how to categorise books!</p>

Katja
</div>
