<aside class="sidebar flex-sidebar">

        <nav class="book-menu uk-margin-bottom">

            {% url 'book_list' as book_list %}
            {% url 'book_new' as book_new %}
            <ul class="uk-nav nav-books flex-nav-books flex-to-block-l">

            <li class="uk-button uk-button-primary pad-15
             {% if request.get_full_path == book_list %}  active {% endif %}"><a href="{{ book_list }}">All books</a></li>

            <li class="uk-button uk-button-primary pad-15
            {% if request.get_full_path == book_new %} active {% endif %}"
            ><a href="{{ book_new }}">Add a book</a></li>

            </ul>
        </nav>

</aside>
