{% extends 'books/base.html' %}

{% block content %}

<h2>{{ book.title }}</h2>
<p>by {{ book.author }}</p>

{% if user.is_authenticated %}
  {% if book.owner == user or user.is_superuser %}

  {% if book.status == 'RQ' %}
  <a href="{% url 'book_lend_item' pk=book.id userid=book.latest_requester.id %}">Confirm loan to {{ book.latest_requester }}</a>
  {% elif book.status == 'OL' %}
  <a href="{% url 'book_return_item' pk=book.id userid=book.latest_borrower.id %}">Return the book from {{ book.latest_borrower }}</a>

  {% endif %}

  <p><a href="{% url 'book_update' pk=book.id %}">Update this book</a></p>

  <p><a href="{% url 'book_delete' pk=book.id %}">Delete this book</a></p>

   <!-- use this for just date |date:'d M Y' -->

  Last requested by {{ book.latest_requester }} on {{ book.last_requested }}<br />
  Last borrowed by {{ book.latest_borrower }} on {{ book.last_borrowed }} <br />
  Last returned from {{ book.returned_from }} on {{ book.last_returned }}
  <div style="height:30px"></div>
  {% endif %}


{% endif %}


Status:
<strong>
{% if book.status == 'AV' %}
  <p>Available</p>
{% elif book.status == 'RQ' %}

  <p>Requested (by {{ book.latest_requester }}
  {% if book.latest_requester == user %}
- that's you :)
  {% endif %})
  </p>

{% elif book.status == 'OL' %}
  <p>On loan (Borrowed by {{ book.latest_borrower }}
  {% if book.latest_borrower == user %}
- that's you :)
  {% endif %}
  )</p>
{% elif book.status == 'NA' %}
  <p>Unavailable for other reaons</p>
{% endif %}
</strong>
<div style="height:30px"></div>

{% if book.cover %}
  <img src="{{ book.cover.url }}" alt="Cover {{ book.title }}" />
  <div style="height:30px"></div>
{% endif %}



{% if book.status == 'AV' %}

  {% if user.is_authenticated %}
  <a href="{% url 'book_request_item' pk=book.id userid=user.id %}">Request this book</a>
  {% else %}
  <a href="{% url 'login' %}">Log in to request this book</a>
  {% endif %}


{% else %}
  Register your interest
{% endif %}

</form>



{% endblock %}
