{% extends 'books/base.html' %}

{% block content %}

<h2>{{ book.title }}</h2>
<p>by {{ book.author }}</p>





{{ book.owner.id }}

{% if user.is_authenticated %}
  {% if book.owner == user or user.is_superuser %}
  <p><a href="{% url 'book_update' pk=book.id %}">Update this book</a></p>

  <p><a href="{% url 'book_delete' pk=book.id %}">Delete this book</a></p>
  {% endif %}
{% endif %}


<p>&nbsp;</p>
{% if book.cover %}
  <img src="{{ book.cover.url }}" alt="Cover {{ book.title }}" />
{% endif %}


{% if book.status == 'AV' %}
  <p>This book is available.</p>
{% elif book.status == 'RQ' %}
  <p>Somebody has requested this book.</p>
{% elif book.status == 'OL' %}
  <p>This book is currently on loan.</p>
{% elif book.status == 'NA' %}
  <p>This book is not on loan, but not available for other reasons.</p>
{% endif %}



<form method="post" class="book__form" action="">
{% csrf_token %}

<input type="hidden" name="status" value="{{ book.status }}" id="id_status">

{% if book.status == 'AV' %}

  <button type="submit">Request this book</button>

{% else %}

  <button type="submit">Register your interest</button>
{% endif %}

</form>

{% endblock %}
