{% extends 'books/book_confirm_loan_item.html' %}

{% block content %}

  {% if not book %}
    <h2>Add a book</h2>
  {% else %}
    <h2>Update <em><a href="{{ book.absolute_url }}">{{ book.title }}</a></em></h2>
  {% endif %}
    <form method="post" enctype="multipart/form-data" class="uk-form uk-form-horizontal book__form maxw600">
        {% csrf_token %}
        {% for field in form %}

            <div class="uk-form-row uk-margin">

                {% if field.name not in "['cover','openlibcover']" %}

                  <label for="{{ field.id_for_label }}" class="uk-form-label">{{ field.label }}: </label>
                  <div class="uk-form-controls">
                     {{ field }}
                     {% if field.name == 'isbn' %}
                        {% if not book.title %}
                        <div id="lookup-errors"></div>
                        <div id="lookup" class="uk-button uk-button-bookupdate uk-margin">Lookup from ISBN</div>

                        {% endif %}

                     {% endif %}
                     {% if field.errors %}
                        <div class="uk-alert uk-alert-warning">
                          {{ field.errors }}
                        </div>
                     {% endif %}
                     {% if field.help_text %}
                        <div class="uk-alert">
                          {{ field.help_text }}
                        </div>
                     {% endif %}
                  </div>

                {% else %}

                  {% if field.name == 'cover' %}

                    {% if book.cover %}
                      <label class="uk-form-label" label for="id_cover">Cover:</label>
                      <div class="uk-form-controls">
                        Currently: <a href="{{book.cover.url}}">{{ book.cover.url }}</a>
                        <div class="inline-b m-bottom">
                          <input type="checkbox" name="cover-clear" id="cover-clear_id">
                          <label for="cover-clear_id">Clear</label><br>
                        </div>
                        {% if form.cover.errors %}
                          <div class="uk-alert uk-alert-warning">{{ form.cover.errors }}</div>
                        {% endif %}
                        {% if form.cover.help_text %}
                          <div class="uk-alert">
                            {{ form.cover.help_text }}
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}


                    <div class="uk-form-label">&nbsp;</div>

                    <div class="uk-form-controls">
                      <div class="file-upload">
                        <label for="id_cover" class="uk-button uk-button-bookupdate">Upload
                          {% if book.cover %} new {% endif %}
                         cover image
                           <input class="file-upload__input" type="file" name="cover" accept="image/*" id="id_cover" name="id_cover" />
                        </label>
                        <span id="upload"></span>
                      </div>
                    </div>

                    {% endif %}

                    {% if field.name == 'openlibcover' %}
                    <div class="uk-form-controls">
                      {{ field }}
                    </div>
                    {% endif %}

              {% endif %}
            </div>

        {% endfor %}
        <button class="uk-button uk-button-bookupdate" type="submit">Save</button>
    </form>
{% endblock %}
{% block scripts %}
<script type="text/javascript">

    const upload = document.querySelector(".file-upload")
    upload.addEventListener('change', function(e){
      let fakepath = e.target.value
      let name = fakepath.split("\\").slice(-1)[0]
      let uploadspan = document.getElementById("upload")
      uploadspan.innerHTML = name
    })

</script>
<script type="text/javascript">

const lookup = document.getElementById("lookup")
const errordiv = document.getElementById("lookup-errors")

lookup.addEventListener("click", function(){
  const isbn_raw = document.getElementById("id_isbn").value
  const isbn_clean = isbn_raw.trim().replace(/-/g,'')
  getBookDetails(isbn_clean)
})

function getBookDetails(isbn){

  errordiv.innerHTML = ''
  errordiv.classList.remove("uk-alert","uk-alert-warning")
  if (!isbn) {
       errordiv.innerHTML = "Please enter ISBN"
       errordiv.classList.add("uk-alert","uk-alert-warning")
       return
  }

  const isbn_id = "ISBN:" + isbn
  const url = "https://openlibrary.org/api/books?bibkeys=" + isbn_id + "&jscmd=data&format=json"


  fetch(url)
    .then(function(response) {
        return response.json()
      }).then(function(data) {

        root =  data[isbn_id]

        if(root){

        //console.log(root)

        function getAuthors(arr_authors){
          console.log("here")
          let authors = arr_authors.reduce(function(auths, auth){
            return auths + auth.name + ", "
          }, '')
          return authors.substring(0, authors.length - 2)
        }

        const bookauthor = root.by_statement || (root.authors) ? getAuthors(root.authors) : ''



        const bookobj = {
          "title" : root.title,
          "author" : bookauthor,
          "cover" : root.cover.medium
        }

        const title = document.getElementById("id_title")
        const author = document.getElementById("id_author")
        const upload = document.getElementsByClassName("file-upload")[0]

        title.value = bookobj.title
        author.value = bookobj.author



        if (bookobj.cover) {
          const img = document.createElement("img");
          img.src = bookobj.cover
          upload.parentNode.appendChild(img)
          upload.parentNode.removeChild(upload)

          // check first if there is a cover value?
          const oplibcover = document.getElementById("id_openlibcover")
          oplibcover.value = bookobj.cover
        }

      } else {
      return Promise.reject("Sorry, we could not retrieve any information for this book.")
    }})
    .catch(function(error) {
        errordiv.innerHTML = error
        errordiv.classList.add("uk-alert","uk-alert-warning")
    });
}
</script>
{% endblock %}

