{% extends 'books/base.html' %}

{% block content %}

  {% if user.is_authenticated %}
    {% if ct_book.owner == user or user.is_superuser %}
    <div class="uk-container-expand">
    {% url 'book_update' pk=ct_book.id as book_update %}
    {% url 'book_delete' pk=ct_book.id as book_delete %}
    <nav class="book-menu maxw600">
      <ul class="uk-nav nav-bookupdate flex-nav-books">
        <li><a class="uk-button uk-button-bookupdate
        {% if request.get_full_path == book_update %} active{% endif %}"
         href="{{ book_update }}">Update this book</a></li>
        <li><a class="uk-button uk-button-bookupdate
          {% if request.get_full_path == book_delete %}active {% endif %}"
          href="{{ book_delete }}">Delete this book</a></li>
      </ul>
    </nav>
    {% endif %}
  {% endif %}


  <div class="uk-container-expand uk-margin-top">
  <h1>{{ ct_book.title }}</h1>
  <p>by {{ ct_book.author }}</p>


  {% if ct_book.cover %}
    <img src="{{ ct_book.cover.url }}" alt="Cover {{ ct_book.title }}" />
  {% endif %}

    <div class="uk-container-expand uk-margin-top maxw820">
      {% if ct_book.description %}
        <p>{{ ct_book.description|linebreaks }}</p>
      {% endif %}

      {% if ct_book.category %}
        Category: {{ ct_book.category }}
      {% endif %}
    </div>

    {% if ct_book.isbn %}
    <p>ISBN: {{ ct_book.isbn }}</p>
    {% endif %}

    {% if ct_book.year_published %}
    <p>Year published: {{ ct_book.year_published }}</p>
    {% endif %}


  </div>

  <div class="uk-container-expand uk-margin-top">
  Status:
  <strong>
  {% if ct_book.status == 'AV' %}
    <p>Available</p>
  {% elif ct_book.status == 'RQ' %}
  <p>Requested</p>
  {% elif ct_book.status == 'OL' %}
  <p>On loan</p>
  {% elif ct_book.status == 'NA' %}
    <p>Unavailable for other reaons</p>
  {% endif %}
  </strong>
  </div>
  {% if ct_book.at_framework %}<p><strong>At Framework Library</strong></p>{% endif %}
  <p>Owned by {{ ct_book.owner.username }}</p>

  {% if ct_book.status == 'AV' %}

    {% if user.is_authenticated %}
      <a class="uk-button uk-button-secondary maxw600" href="{% url 'book_request_item' pk=ct_book.id %}">Request this book</a>
    {% else %}
      <a href="{% url 'login' %}">Log in to request this book</a>
    {% endif %}

  {% else %}
    {% if ct_holder != user %}
    <a class="uk-button uk-button-bookinterest maxw600" href="{% url 'book_interest' pk=ct_book.id %}">
    Register your interest (notifies the current holder)
    </a>
    {% endif %}
  {% endif %}

    {% if user.is_authenticated %}
    {% if ct_book.owner == user or user.is_superuser %}

      <h3>Loan admin</h3>

        {% if ct_book.status == 'RQ' %}
          <div class="uk-alert uk-alert-primary maxw600"><strong>This book was requested
            {% if ct_holder %} by
            @{{ ct_holder.username }}{% endif %}</strong>
            {% if ct_date != "" %} on {{ ct_date|date:"d M Y" }}{% endif %}.
          </div>
        {% endif %}

        <nav class="book-menu maxw600 m-bottom">
          <ul class="uk-nav nav-bookupdate flex-nav-books">
            <li><a class="uk-button uk-button-loan
             {% if ct_book.status == 'RQ' %}
              active
             {% endif %}
             "
             href="
              {% if ct_book.status == 'RQ' %}
                {% url 'book_lend_item' pk=ct_book.id %}
              {% endif %}
              ">Start loan</a></li>
            <li><a class="uk-button uk-button-loan
              {% if ct_book.status == 'OL' %}
                active
              {% endif %}
              " href="
              {% if ct_book.status == 'OL' %}
                {% url 'book_return_item' pk=ct_book.id  %}
              {% endif %}
              ">Book returned</a></li>
          </ul>
        </nav>

        <nav class="book-menu maxw600">
          <ul class="uk-nav nav-bookupdate flex-nav-books">
            <li><a class="uk-button uk-button-loan
            {% if ct_book.status != 'AV' %}
              general
            {% endif %}
            " href="
            {% if ct_book.status != 'AV' %}
              {% url 'book_change_status' pk=ct_book.id action='set_available' %}
            {% endif %}
            ">Reset to available</a></li>
            <li><a class="uk-button uk-button-loan
            {% if ct_book.status != 'NA' %}
              general
            {% endif %}
            " href="
            {% if ct_book.status != 'NA' %}
              {% url 'book_change_status' pk=ct_book.id action='withdraw' %}
            {% endif %}
            ">Withdraw book</a></li>

          </ul>
        </nav>

    {% elif ct_holder == user and ct_book.status in "['RQ', 'OL']" %}

      <h3>Register loan or return (can be done by you, the owner or an admin)</h3>

       <div class="uk-alert uk-alert-primary maxw600">
      {% if ct_book.status == 'RQ' %}
          <strong>You have requested this book.</strong>
      {% else %}
          <strong>According to our records, you are currently borrowing this book.</strong>
      {% endif %}
      </div>
      <nav class="book-menu maxw600 m-bottom">
          <ul class="uk-nav nav-bookupdate flex-nav-books">
            <li><a class="uk-button uk-button-loan
             {% if ct_book.status == 'RQ' %}
              active
             {% endif %}
             "
             href="
              {% if ct_book.status == 'RQ' %}
                {% url 'book_lend_item' pk=ct_book.id %}
              {% endif %}
              ">Start loan</a></li>
            <li><a class="uk-button uk-button-loan
              {% if ct_book.status == 'OL' %}
                active
              {% endif %}
              " href="
              {% if ct_book.status == 'OL' %}
                {% url 'book_return_item' pk=ct_book.id  %}
              {% endif %}
              ">Book returned</a></li>
          </ul>
      </nav>


    {% endif %}
  {% endif %}

{% endblock %}
