{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Book Xchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bookx/css/main.css' %}?{% now 'U' %}">
    </head>

    <body class="flex-site">



    <header>
    <div class="flex-container-s">
    <section class="logo flex-logo">
    <a href="/"><img src="{% static '/bookx/img/bookx_logo160x73_blue.png' %}"  alt="Logo BookXchange" /></a>
    </section>
            <nav>

                {% url 'signup' as register %}
                {% url 'login' as login %}


                <ul class="uk-navbar-nav nav-login flex-nav-login">
                {% if not user.is_authenticated %}
                    <li
                     {% if request.get_full_path == register %} class="active" {% endif %}
                    >
                        <a href="{% url 'signup' %}">Register</a></li>
                    <li
                    {% if request.get_full_path == login %} class="active" {% endif %}
                    ><a href="{% url 'login' %}">Log In </a></li>
                {% else %}
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                {% endif %}
                </ul>
            </nav>
    </div>
    </header>


    <main class="flex-site-content">
    {% block main %}

   <!--  <div class="uk-container uk-container-expand content" > -->
        <section class="content">
        {% block content %}
            {{ content }}
        {% endblock %}
        </section>

    {% endblock %}
    </main>
    <footer>
        <a href="/about/">About this site</a>
    </footer>

    <script type="text/javascript" src="{% static 'vendor/uikit-3.0.0-rc.20/dist/js/uikit.min.js' %}"></script>
    {% block scripts %}

    {% endblock %}
    </body>

</html>
